body {
  background-color: rgb(251, 219, 197);
  color: rgb(44, 39, 39);
  font-family: 'Lucida Console', monospace;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ae8079;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  align-self: center;
  justify-self: center;
  margin-top: 20vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
