html {
  background-color: rgb(251, 219, 197);
  color: rgb(44, 39, 39);
  font-family: 'Lucida Console', monospace;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 50em;
  height: 3em;
  border-radius: 5px;
  margin: 20px;
}

#checkbox {
  height: 2em;
}

#login-button {
  min-width: 50px;
}

#status {
  margin: 50px;
  color: rgb(88, 45, 45);
  font-size: 1.2em;
  justify-self: center;
}

[type='checkbox'] {
  opacity: 0.5;
  background: green;
}
