.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
  position: relative;
  margin-bottom: 25px;
}

.logo {
  max-height: 50px;
}

img {
  width: 20vw;
  opacity: 0.75;
  align-self: self-start;
}
